*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:  rgb(82, 6, 37);
}
header{
    display: flex;
    justify-content: space-around;
    gap: 40%;
    margin-top: 15px;
    color: azure;
}
span{
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
}
article{
    width: 50%;
    font-size: 40px;
    padding: 30px 5px 5px 50px; 
    position: relative;
    z-index: 3;
    top: 170px;
}
h2{
    font-style: oblique;
    color:rgb(139, 97, 19) ;

}
h3{
    color: azure;
    margin-top: 20px;
}
p{
    margin-top: 20px;
    color: azure;
    font-size: 15px;
    
}
button{
    padding: 10px 30px 10px 30px;
}
.order{
    border-radius: 35px;
    background-color: orange;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.contact{
    border-radius: 30px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.heroimage {
   display: flex;
   justify-content: end; 
   position: relative;
   right: 100px;
   bottom: 150px;
   z-index: 1;
}