*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    border:2px solid black;
    padding:20px 30px 20px 30px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    background-color: aqua;
    font-size: 25px;
}
a{
    text-decoration: none;
}
form{
    border: 5px black solid;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-image: url(/img/6form.webp);
}
