body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2{
  text-align: center;
  margin-bottom: 5%;
}

form {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: cadetblue;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
  background-color: aquamarine;
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}

input{
  background-color: azure;
}
