
    
    * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      margin: 0;
      background: #f4f6f8;
    }

    header, footer {
      background: #1e3a8a;
      color: #fff;
      padding: 1rem;
      text-align: center;
    }

    nav {
      background: #ccd1dc;
      padding: 0.8rem;
      text-align: center;
      font-weight: bold;
    }

    main {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1.5rem;
      padding: 1.5rem;
    }

    section {
      background: #ffffff;
      padding: 1rem;
      border-radius: 6px;
    }

    h2 {
      margin-top: 0;
    }

   
    .course-card {
      border: 1px solid #ddd;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
    }

    .course-card p {
      margin: 0.3rem 0;
    }

    
    form label {
      display: block;
      margin-top: 0.8rem;
      font-weight: bold;
    }

    form input, form select, form button {
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.3rem;
    }

    form button {
      background: #5fca47;
      color: rgb(18, 7, 7);
      border: none;
      margin-top: 1rem;
      cursor: pointer;
    }

    .error {
      color: red;
      font-size: 0.85rem;
    }

    .success {
      color: green;
      font-weight: bold;
      margin-top: 1rem;
    }

 
    @media (max-width: 768px) {
      main {
        grid-template-columns: 1fr;
      }
    }