body {
  padding: 20px;
}

h1 {
  text-align: center;
}

form, table {
  margin: 20px auto;
  width: 80%;
}

input {
  padding: 8px;
  margin: 5px;
  margin-top: 3%;
  
}

button {
  padding: 8px 10px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-top: 2%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: azure;
}
